h2 {
  font-size: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
}

/* メインビジュアル */

/* アバウト */
.about {
  max-width: 920px;
  display: flex;
  justify-content: space-between;
  margin: 300px auto;
}
.about_wrap {
  max-width: 450px;
  font-size: 16px;
}
.about_wrap p {
  margin: 70px auto;
  padding: 0 10px;
  line-height: 2.18;
}
/* ワークス */
.works h2 {
  margin-bottom: 85px;
}
.works_slider {
  display: flex;
}
.works_slider div {
  width: 250px;
}
/* コンタクト */
.contact {
  max-width: 1000px;
  margin: 250px auto 80px auto;
  text-align: center;
  font-size: 16px;
}
.contact p {
  margin: 65px auto 75px auto;
  line-height: 1.87;
}
