/* メインビジュアル */

#home {
  background-image: url(../images/FV.jpg);
  top: 80px;
  width: 100vw;
  height: 698px;
}
.home_img p {
  position: relative;
  top: 240px;
  right: -60%;
  font-size: 70px;
  font-weight: 200;
  font-family: "Lato", sans-serif;
}
.home_img {
  background-size: cover;
  background-position: center top;
}

h2 {
  font-size: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
}

/* アバウト */
.about {
  max-width: 920px;
  display: flex;
  justify-content: space-between;
  margin: 300px auto;
}
.about_wrap {
  max-width: 450px;
  font-size: 16px;
}
.about_wrap p {
  margin: 70px auto;
  padding: 0 10px;
  line-height: 2.18;
}
/* ワークス */
.works h2 {
  margin-bottom: 85px;
}
.works_slider {
  display: flex;
}
.works_slider div {
  width: 250px;
}
/* コンタクト */
.contact {
  max-width: 1000px;
  margin: 250px auto 80px auto;
  text-align: center;
  font-size: 16px;
}
.contact p {
  margin: 65px auto 75px auto;
  line-height: 1.87;
}

/* コンタクトページ */
