@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;

  font-feature-settings: "palt";

  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4f260b;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
}

a {
  /*下線を消す*/
  text-decoration: none;

  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

a:hover {
  opacity: 0.5;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

/* ヘッダー */
.header_wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7% 0 3%;
  width: 100%;
  box-sizing: border-box;
}
.header_logo {
  width: 226px;
  background-color: transparent;
}
.pc_nav ul {
  display: flex;
  background-color: transparent;
}
.pc_nav ul li {
  width: 105px;
  margin-left: 55px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

/* 全体 */
main {
  margin: 0 auto;
  background-color: #e8d9bf;
}

/* リード文 */
.lead {
  text-align: center;
  padding: 0 10px;
}
.lead_copy {
  font-size: 30px;
  padding-top: 100px;
}
.lead_maincopy {
  font-size: 82px;
  letter-spacing: 0.1em;
  line-height: 1.17;
  padding-top: 50px;
}
.lead_secondarycopy {
  font-size: 23px;
  letter-spacing: 0.1em;
  line-height: 1.65;
  padding: 30px 0 80px 0;
}

/* 私たちについて*/
.about {
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_pic img {
  border-bottom-right-radius: 83px;
  /* width: 50%; */
}
.about_wrap {
  margin-left: 20px;
}
.about_wrap h2 {
  height: 55px;
  width: 267px;
}
.about_heading {
  font-size: 44px;
  line-height: 1.38;
  padding: 60px 0 20px 0;
}
.about_text {
  max-width: 410px;
  font-size: 16px;
  line-height: 1.62;
}

/* メニュー */
.menu {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 10px;
}
.menu h2 {
  margin: 50px auto;
  height: 57px;
  width: 143px;
}
.menu_list + .menu_list {
  margin-left: 30px;
}
.menu_item {
  display: flex;
  justify-content: space-between;
}
.menu_list img {
  /* width: 30%; */
  border-top-right-radius: 42px;
}
.menu_title {
  font-size: 38px;
  color: #d30202;
  margin: -10px 10px;
}
.menu_text {
  max-width: 300px;
  font-size: 17px;
  line-height: 1.47;
  padding: 25px 0;
}
/* ギャラリー */
.gallery h2 {
  margin: 40px auto;
  height: 57px;
  width: 237px;
}
.slider {
  display: flex;
  max-width: 1920px;
  box-sizing: border-box;
}

/* イベント */
.event {
  padding-right: 10px;
  padding-left: 10px;
}
.event h2 {
  margin: 50px auto;
  height: 57px;
  width: 166px;
}
.event_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px #4f260b;
  background-color: #fff;
  max-width: 1000px;
  margin: 0 auto;
  padding: 36px;
}
.event_text {
  margin: 0 auto;
  display: flex;
  font-size: 23px;
  line-height: 1.95;
}
.event_text a {
  line-height: 1.95;
  padding-left: 50px;
  text-decoration: underline;
}

/* アクセス */
.access h2 {
  margin: 60px auto;
  height: 57px;
  width: 204px;
}
.access_map iframe {
  display: block;
  width: 100%;
  height: 470px;
}

/* フッター */
footer {
  max-width: 1000px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  margin: 70px auto;
}
.footer_logo {
  height: 42px;
  width: 220px;
}
.footer_wrap p {
  font-size: 20px;
  color: black;
  padding-left: 50px;
  line-height: 1.95;
}
.copyright {
  font-size: 16px;
  color: black;
  text-align: center;
  margin-bottom: 70px;
}
/* 動くボタン */
.pagetop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 125px;
}
/* スマホ版メニューは消す */
.sp_nav {
  display: none;
}
.sp_about_pic {
  display: none;
}
.sp_lead_secondarycopy {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }

  .lead_maincopy {
    font-size: 65px;
  }

  .about_heading {
    font-size: 35px;
  }

  /* ハンバーガーメニュー */
  .sp_btn {
    position: absolute;
    top: 20px;
    right: 25px;
    display: block;
    height: 23px;
    cursor: pointer;
    z-index: 2;
  }

  .sp_btn span {
    position: relative;
    top: 10px;
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: 0.3s;
  }
  .sp_btn span::before,
  .sp_btn span::after {
    position: absolute;
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: 0.3s;
  }
  .sp_btn span::before {
    bottom: 10px;
  }
  .sp_btn span::after {
    top: 10px;
  }

  /* ハンバーガー閉じる */
  .sp_btn.open span {
    background: transparent;
  }
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
  }

  /* ハンバーガーメニュー */
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }
  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .sp_nav ul li {
    padding: 20px 0;
    color: #fff;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  }
}

@media screen and (max-width: 767px) {
  .header_logo {
    width: 187px;
    background-color: transparent;
  }

  /* メインコピー */
  .lead {
    padding: initial;
    max-width: 767px;
  }
  .lead_copy {
    font-size: 17px;
    padding-top: 30px;
  }
  .lead_maincopy {
    font-size: 38px;
    letter-spacing: 0.02em;
    line-height: 1.15;
    padding-top: 30px;
  }
  .lead_secondarycopy {
    display: none;
  }
  .sp_lead {
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 1.65;
    padding: 30px 0;
  }

  /* 私たちについて */
  .about_pic {
    display: none;
  }
  .about {
    margin: 10px 10px;
  }
  .about_wrap {
    margin-left: 0;
  }
  .about_wrap h2 {
    height: 33px;
    width: 155px;
    margin: 25px auto;
  }
  h2 {
    margin: 30px auto;
  }
  .about_heading {
    padding: 20px 0;
  }
  .sp_about_pic {
    display: block;
    padding: 0;
  }
  .sp_about_pic img {
    width: 100%;
  }

  /* メニュー */
  .menu {
    padding: 10px 10px;
  }
  .menu h2 {
    margin: 25px auto;
    height: 33px;
    width: 83px;
  }
  .menu_item {
    display: block;
    margin: 10px 20px;
  }
  .menu_list + .menu_list {
    margin-left: initial;
  }
  .menu_title {
    font-size: 40px;
  }
  .menu_text {
    padding: 25px 0 50px;
  }

  /* ギャラリー */
  .gallery h2 {
    height: 33px;
    width: 138px;
    margin: 25px auto;
  }
  .slider {
    margin: 30px auto 0;
    max-width: 767px;
    width: 100%;
  }
  .gallery_pic img {
    height: auto;
    width: 100%;
  }

  /* イベント */
  .event {
    padding: 10px 10px;
  }
  .event h2 {
    height: 33px;
    width: 98px;
    margin: 25px auto;
  }
  .event_inner {
    display: block;
    max-width: 767px;
    margin: 15px;
    padding: 20px 30px;
  }
  .event_text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 1.31;
    margin: 10px 0;
  }
  .event_text a {
    white-space: nowrap;
    padding: 0;
  }

  /* アクセス */
  .access h2 {
    height: 33px;
    width: 120px;
    margin: 25px auto;
  }
  .access_map iframe {
    height: 190px;
  }

  /* フッター */

  footer {
    max-width: 335px;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    margin: 40px auto;
  }
  .footer_logo {
    height: 50px;
    width: 226px;
  }
  .footer_wrap p {
    font-size: 18px;
    line-height: 1.72;
    padding: 15px 0 0;
  }
  .copyright {
    margin-bottom: 30px;
  }
  /* 動くボタン */
  .pagetop {
    position: fixed;
    right: 15px;
    bottom: 20px;
    width: 100px;
  }
}
