@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&family=Lato:wght@100;300;400;700&display=swap");

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  /* margin: 0;
  padding: 0;
  line-height: 1; */

  font-feature-settings: "palt";

  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #333;
  font-family: "游ゴシック体", YuGothic,
    /* "游ゴシック Medium", "Yu Gothic Medium", */ "游ゴシック", "Yu Gothic",
    sans-serif;
}

a {
  /*下線を消す*/
  text-decoration: none;

  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

a:hover {
  opacity: 0.5;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}
/* ヘッダー */
.header {
  position: relative;
  top: 0;
  max-width: 1000px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
.header_logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.2;
}
.header_nav ul {
  display: flex;
}
.header_nav ul li {
  padding-left: 55px;
  text-align: center;
  background-color: transparent;
  font-size: 15px;
}
/* 全体 */
main {
  margin: 0 auto;
}
/* フッターらへん */
.message {
  max-width: 1000px;
  text-align: center;
  font-size: 16px;
  margin: 0 auto 130px auto;
}
.totop {
  text-align: center;
  font-size: 14px;
}
footer {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 140px auto 50px auto;
}
.footer_nav ul {
  display: flex;
}
.footer_nav ul li {
  font-size: 15px;
  padding-right: 65px;
}
