h2 {
  font-size: 35px;
  font-weight: 400;
  margin: 300px 0 100px 0;
  padding: 0 20px;
  border-bottom: 1px solid;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
h3 {
  font-size: 23px;
  margin: 0 0 23px 15px;
}
.name {
  font-size: 14px;
  margin: 15px 0 0 15px;
}
/* 私について */

.profile_pic {
  width: 50%;
}
.about_container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}
.aboutme_wrap {
  max-width: 510px;
}
.about_text {
  font-size: 15px;
  line-height: 1.86;
  margin-left: 20px;
}
/* 私にできること */
.skills_container {
  max-width: 610px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.design,
.coding {
  text-align: center;
}
.design img,
.coding img {
  max-width: 200px;
}
.skills_title {
  font-size: 17px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.skills_text {
  font-size: 15px;
  max-width: 220px;
}
/* 私ってこんな人 */
.about_list {
  max-width: 610px;
  margin: 0 auto;
}
.ttl {
  margin: 80px 0 0 0;
  font-size: 23px;
}
.about_list_text {
  font-size: 15px;
  margin: 15px 0 80px 0;
}
