#about {
  background-image: url(../images/about.jpg);
  top: 80px;
  width: 100vw;
  height: 450px;
}

.about_heading {
  text-align: center;
  margin: 300px 0 100px 0;
}
.about_heading h2 {
  font-size: 35px;
  font-weight: 200;
  display: inline-block;
  border-bottom: 1px solid;
  padding: 0 20px;
}
ruby {
  font-size: 23px;
}
.name {
  margin: 30px 20px;
}
/* 私について */

.profile_pic {
  width: 50%;
}
.about_container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}
.aboutme_wrap {
  max-width: 510px;
}
.about_text {
  font-size: 15px;
  line-height: 1.86;
  margin-left: 20px;
}
/* 私にできること */
.skills_container {
  max-width: 610px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.design,
.coding {
  text-align: center;
}
.design img,
.coding img {
  max-width: 200px;
}
.design p,
.coding p {
  font-size: 17px;
}
.skills_title {
  margin: 60px 0 30px 0;
}
.skills_title p {
  font-size: 23px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.skills_text {
  margin: 30px 0;
}
.skills_text p {
  font-size: 15px;
  max-width: 220px;
  line-height: 1.86;
}
/* 私ってこんな人 */
.about_list {
  max-width: 500px;
  margin: 0 auto;
}
.ttl {
  margin: 80px 0 0 0;
  font-size: 23px;
}
.about_list_text {
  font-size: 15px;
  margin: 15px 0 80px 0;
  line-height: 1.86;
}
